<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <select id="page" parameterType="dish" resultType="com.sky.vo.DishVO">
        select d.*,c.name as category_name from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name != null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_Id = #{categoryId}
            </if>
            <if test="status != null">and d.status = #{status}</if>
        </where>
    </select>

    <update id="updateDish" parameterType="dish">
        update dish
        <set>
            <if test="name != null and name != ''"> name = #{name},</if>
            <if test="categoryId != null"> category_id = #{categoryId},</if>
            <if test="price != null"> price = #{price},</if>
            <if test="image != null and image != ''"> image = #{image},</if>
            <if test="description != null and description != ''"> description = #{description},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="updateTime != null"> update_time = #{updateTime},</if>
            <if test="updateUser != null"> update_user = #{updateUser}</if>
        </set>
        where id = #{id}
    </update>

    <insert id="insertListDishFlover" parameterType="dishFlavor">
        <foreach collection="flavors" item="flavor" separator=";">
            insert into dish_flavor(dish_id, name, value) values (#{flavor.dishId}, #{flavor.name}, #{flavor.value})
        </foreach>
    </insert>

    <delete id="deleteDishFlavorByDishId">
        delete from dish_flavor where dish_id = #{id}
    </delete>
</mapper>
